[sso-session 8pawns]
sso_start_url = https://8pawns.awsapps.com/start/#
sso_region = us-east-1
sso_registration_scopes = sso:account:access

[profile 8pawns-oleg-Admin]
sso_session = 8pawns
sso_account_id = 889832869592
sso_role_name = AWSAdministratorAccess
region = us-east-1
output = json

[profile 8pawns-dev-Admin]
sso_session = 8pawns
sso_account_id = 992382612340
sso_role_name = AWSAdministratorAccess
region = us-east-1
output = json

[profile 8pawns-test-Admin]
sso_session = 8pawns
sso_account_id = 992382446816
sso_role_name = AWSAdministratorAccess
region = us-east-1
output = json

[profile 8pawns-stage-Admin]
sso_session = 8pawns
sso_account_id = 590183867264
sso_role_name = AWSAdministratorAccess
region = us-east-1
output = json

[profile 8pawns-prod-Admin]
sso_session = 8pawns
sso_account_id = 851725375567
sso_role_name = AWSAdministratorAccess
region = us-east-1
output = json
