[sso-session dfinitiv]
sso_start_url = https://dfinitiv.awsapps.com/start
sso_region = us-east-1
sso_registration_scopes = sso:account:access

[profile dfinitiv-root-OrgAdmin]
sso_session = dfinitiv
sso_account_id = 057524779170
sso_role_name = OrgAdmin
region = us-east-1
output = json

[profile dfinitiv-audit-Admin]
sso_session = dfinitiv
sso_account_id = 453549751632
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-log-archive-Admin]
sso_session = dfinitiv
sso_account_id = 731207291202
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-network-Admin]
sso_session = dfinitiv
sso_account_id = 822757183477
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-cicd-test-Admin]
sso_session = dfinitiv
sso_account_id = 922113822777
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-cicd-prod-Admin]
sso_session = dfinitiv
sso_account_id = 349520124959
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-oleg-Admin]
sso_session = dfinitiv
sso_account_id = 186594686280
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-demo1-PowerUser]
sso_session = dfinitiv
sso_account_id = 688598918401
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-demo3-PowerUser]
sso_session = dfinitiv
sso_account_id = 230674329800
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-demo9-PowerUser]
sso_session = dfinitiv
sso_account_id = 490157056428
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus1-PowerUser]
sso_session = dfinitiv
sso_account_id = 783479263194
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus3-PowerUser]
sso_session = dfinitiv
sso_account_id = 191880710701
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus5-PowerUser]
sso_session = dfinitiv
sso_account_id = 024125831461
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus5-ReadOnly]
sso_session = dfinitiv
sso_account_id = 024125831461
sso_role_name = ReadOnlyAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus9-PowerUser]
sso_session = dfinitiv
sso_account_id = 239613528510
sso_role_name = PowerUserAccess
region = us-east-1
output = json

[profile dfinitiv-pegasus9-ReadOnly]
sso_session = dfinitiv
sso_account_id = 239613528510
sso_role_name = ReadOnlyAccess
region = us-east-1
output = json
