[sso-session dfinitiv]
sso_start_url = https://dfinitiv.awsapps.com/start
sso_region = us-east-1
sso_registration_scopes = sso:account:access

[profile dfinitiv-core-admin]
sso_session = dfinitiv
sso_account_id = 026090554030
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-dev-admin]
sso_session = dfinitiv
sso_account_id = 242358740057
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-test-admin]
sso_session = dfinitiv
sso_account_id = 155833675548
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-prod-admin]
sso_session = dfinitiv
sso_account_id = 963620458146
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-cicd-test-admin]
sso_session = dfinitiv
sso_account_id = 922113822777
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-root-admin]
sso_session = dfinitiv
sso_account_id = 057524779170
sso_role_name = AdministratorAccess
region = us-east-1
output = json

[profile dfinitiv-oleg-admin]
sso_session = dfinitiv
sso_account_id = 186594686280
sso_role_name = AdministratorAccess
region = us-east-1
output = json
