//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://chessbyte/GitHub - chessbyte/access-token.dfinitiv-chessbyte" "OBLB2ME7QRAD5JWNSDMJE7X6PA" }}
@dfinitiv:registry=https://npm.pkg.github.com/dfinitiv
